* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../background.jpg");
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.container {
    background-color: rgba(105, 140, 185, 0.459);
    position: absolute;
    top: 20%;
    left: 20%;
    width: 55%;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
}
.title {
    font-size: 1.5rem;
}
.listItem {
    min-height: 4rem;
}
.title, .inputForm {
    text-align: center;
    margin: 0.5rem 2rem;
}

.inputForm button {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
    padding: 2px 7px;
    border: gray solid 1.3px;
    border-radius: 3px;
}

.inputForm input {
    width: 20rem;
    height: 30px;
    border: gray solid 1.3px;
    font-size: inherit;
    padding: 5px;
}
.inputForm input[text] {
    border: red solid 10px;
}

div ul .change:nth-child(odd) {
    background-color: rgba(167, 43, 43, 0.496);
}

div ul .change:nth-child(even) {
    background-color: rgba(167, 43, 43, 0.614);
}

.textChange {
    text-decoration: line-through;
}

li {
    min-height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li:nth-child(even) {
    background-color: rgb(221, 219, 219);
}

ul div {
    width: 60%;
}

span {
    word-wrap: break-word;
}

li input, li button {
    height: 25px;
    cursor: pointer;
}

li button {
    font-size: 0.9rem;
    padding: 3px 5px 1px 5px;
    border: rgb(6, 22, 36) solid 1px;
    border-radius: 5px;
    background-color: rgb(229, 239, 247);
}

li button:hover {
    background-color: rgb(1, 28, 53);
    transition: 0.7s;
    color: white;
}


