* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../background.jpg");
    font-family: monospace, 'Courier New', Courier;
    font-size: 1rem;
}

.container {
    background-color: rgba(105, 140, 185, 0.459);
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
}
.title {
    font-size: 1.5rem;
}
.listItem {
    min-height: 4rem;
}
.title, .inputForm {
    text-align: center;
    margin: 1.2rem 2rem;
}

input, button {
    font-family: inherit;
}

.inputForm button {
    font-size: 18px;
    font-weight: bold;
    height: 31px;
    cursor: pointer;
    margin-top: 1px;
    padding: 5px 15px;
    border: gray solid 1.3px;
    background-color: rgb(234, 255, 255);
    border-radius: 8px;
}

.inputForm input {
    margin-bottom: 5px;
    border-radius: 7px;
    width: 17rem;
    height: 35px;
    border: gray solid 1.3px;
    font-size: inherit;
    padding: 5px 15px;
}

.inputForm input[type=text]:focus {
    outline: none;
    border: #04101ba8 solid 1px;
}

div ul .change:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.856);
}

div ul .change:nth-child(even) {
    background-color: rgba(2, 0, 0, 0.814);
}

.textChange {
    color: white;
    text-decoration: line-through;
}

li {
    min-height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li:nth-child(even) {
    background-color: rgba(185, 184, 184, 0.822);
}
li:nth-child(odd) {
    background-color: rgba(81, 107, 141, 0.308);
}

ul div {
    width: 60%;
}

span {
    word-wrap: break-word;
}

li input[type=checkbox] {
    accent-color: #e42259;
}

li input, li button {
    min-width: 25px;
    height: 28px;
    cursor: pointer;
}

li button {
    font-size: 1rem;
    padding: 3px 10px 1px 10px;
    border: rgb(6, 22, 36) solid 1px;
    border-radius: 7px;
    background-color: rgb(229, 239, 247);
    font-weight: 600;
}

button:hover {
    background-color: #005f5fe8;
    border: #005f5fe8 solid 1px;
    transition: 0.7s;
    color: white;
}


