* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
}

.container {
    position: relative;
    margin: 50px auto;
    width: 70%;
}
.circle {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: black solid 7px;
    border-radius: 50%;
    position: relative;
}

.tik {
    background-color: rgb(44, 40, 3);
    width: 7px;
    height: 7px;
    position: absolute;
}

.tak12 {
    top: 0;
    left: 48%;
}
.tak6 {
    bottom: 0;
    left: 48%;
}
.tak3 {
    top: 47.5%;
    right: 0;
    rotate: 90deg;
}
.tak9 {
    top: 47.5%;
    left: 0;
    rotate: 90deg;
}
.tak1 {
    top: 7%;
    right: 55px;
    rotate: 30deg;
}
.tak7 {
    bottom: 7%;
    left: 55px;
    rotate: 30deg;

}
.tak2 {
    top: 24%;
    right: 15px;
    rotate: 60deg;
}
.tak8 {
    bottom: 24%;
    left: 15px;
    rotate: 60deg;
}
.tak4 {
    bottom: 24%;
    right: 15px;
    rotate: -60deg;
}
.tak10 {
    top: 24%;
    left: 15px;
    rotate: -60deg;

}
.tak5 {
    bottom: 7%;
    right: 55px;
    rotate: -30deg;
}
.tak11 {
    top: 7%;
    left: 55px;
    rotate: -30deg;
}

.tak13 {
    background-color: rgb(8, 255, 222);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 48%;
    left: 48.4%;
    z-index: 100;
}

.hand {
    background-color: black;
    height: 5px;
    position: absolute;
    top: 48.1%;
    left: 49.3%;
    transform-origin: 0;
    transition: all 0.01s;
    transform: rotate(-90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.sec {
    width: 100px;
}
.min {
    width: 85px;
}
.hour {
    width: 60px;
}

.num {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
    width: 40%;
    border: black solid 3.5px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 5px 10px black;
    transition: 1s;
    font-size: 2.4rem;
}

.num:hover {
    font-size: 2.2rem;
    cursor: pointer;
    margin: 30px auto;
    width: 39%;
    background-color: rgba(0, 0, 0, 0.151);
    box-shadow: 5px 7px 7px black;
}
.exe {
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       2px 2px 1px #000,
     -1px -1px 1px #000,  
      1px -1px 0 #000,
      -1px 1px 1px #000,
       1px 1px 0 #000;
}