* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
}

.container {
    background-color: aqua;
    position: relative;
    margin: 50px auto;
    width: 50%;
}
.circle {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: black solid 7px;
    border-radius: 50%;
    position: relative;
}

.tik {
    background-color: rgb(94, 93, 92);
    width: 7px;
    height: 7px;
    position: absolute;
}

.tak12 {
    top: 0;
    left: 48%;
}
.tak6 {
    bottom: 0;
    left: 48%;
}
.tak3 {
    top: 47.5%;
    right: 0;
    rotate: 90deg;
}
.tak9 {
    top: 47.5%;
    left: 0;
    rotate: 90deg;
}
.tak1 {
    top: 7%;
    right: 55px;
    rotate: 30deg;
}
.tak7 {
    bottom: 7%;
    left: 55px;
    rotate: 30deg;

}
.tak2 {
    top: 24%;
    right: 15px;
    rotate: 60deg;
}
.tak8 {
    bottom: 24%;
    left: 15px;
    rotate: 60deg;
}
.tak4 {
    bottom: 24%;
    right: 15px;
    rotate: -60deg;
}
.tak10 {
    top: 24%;
    left: 15px;
    rotate: -60deg;

}
.tak5 {
    bottom: 7%;
    right: 55px;
    rotate: -30deg;
}
.tak11 {
    top: 7%;
    left: 55px;
    rotate: -30deg;
}

.tak13 {
    background-color: rgb(8, 255, 222);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 48%;
    left: 48.4%;
    z-index: 100;
}


.hand {
    background-color: black;
    height: 5px;
    position: absolute;
    top: 48.1%;
    left: 49.3%;
    transform-origin: 0;
    transition: all 0.01s;
    transform: rotate(-90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.sec {
    width: 100px;
}
.min {
    width: 85px;
}
.hour {
    width: 60px;
}

.num{
    margin: 10px auto;
    border: black solid 2px;
    text-align: center;
}