* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    top: 200px;
    left: 35%;
    background-color: cyan;
}
.circle {
    width: 300px;
    height: 300px;
    border: black solid 5px;
    border-radius: 50%;
    position: relative;
}

.tik {
    background-color: rgb(241, 16, 16);
    width: 7px;
    height: 10px;
    position: absolute;
}

.tak12 {
    top: 0px;
    left: 48%;
}
.tak6 {
    bottom: 0px;
    left: 48%;
}
.tak3 {
    top: 47.5%;
    right: 2px;
    rotate: 90deg;
}
.tak9 {
    top: 47.5%;
    left: 2px;
    rotate: 90deg;
}
.tak1 {
    top: 7%;
    right: 71px;
    rotate: 30deg;
}
.tak7 {
    bottom: 7%;
    left: 70px;
    rotate: 30deg;

}
.tak2 {
    top: 24%;
    right: 20px;
    rotate: 60deg;
}
.tak8 {
    bottom: 24%;
    left: 21px;
    rotate: 60deg;
}
.tak4 {
    bottom: 24%;
    right: 20px;
    rotate: -60deg;
}
.tak110 {
    top: -2px;
    left: 70px;
    rotate: -60deg;

}
.tak5 {
    bottom: 7%;
    right: 70px;
    rotate: -30deg;
}
.tak11 {
    top: 7%;
    left: 70px;
    rotate: -30deg;
}

.tak10 {
    background-color: green;
    width: 5px;
    height: 5px;
    top: 48.4%;
    left: 48.4%;
    z-index: 100;
}


.hand {
    background-color: black;
    width:110px;
    height: 5px;
    position: absolute;
    top: 48.1%;
    left: 49.3%;
    transform-origin: 0;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.14, 0.85, 0.53, 1.25);
}
.sec {
    width: 120px;
    rotate: 90deg;
}
.min {
    width: 100px;
}
.hour {
    width: 60px;
}