* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../asset/background.jpg");
    font-family: monospace, 'Courier New', Courier;
    font-size: 1rem;
}

.container {
    background-color: rgba(105, 140, 185, 0.459);
    width: 40rem;
    margin: 5rem auto;
    min-height: 30rem;
    padding: 20px;
    border-radius: 7px;
}

.listItem {
    min-height: 4rem;
}

.title, .inputForm {
	text-transform: uppercase;
    text-align: center;
    margin: 1.2rem 2rem;
}

.title {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.inputForm {
    background-color: rgba(255, 255, 255, 0.842);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 7vh;
    margin: auto;
}
input, button {
    font-family: inherit;
}

.inputForm button {
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: -4px;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-color: rgb(8, 71, 90);
    color: white;
}

.inputForm input {
    width: 17rem;
    border: none;
    font-size: inherit;
    outline: none;
    padding: 5px 15px;
}


div ul .change:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.856);
}

div ul .change:nth-child(even) {
    background-color: rgba(2, 0, 0, 0.814);
}

.textChange {
    color: white;
    text-decoration: line-through;
}

li {
    min-height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li:nth-child(even) {
    background-color: rgba(156, 152, 152, 0.85);
}
li:nth-child(odd) {
    background-color: rgba(115, 136, 163, 0.408);
}

ul div {
    width: 60%;
    padding: 10px;
}

span {
    word-wrap: break-word;
}

.date {
    display: block;
    position: relative;
    bottom: -5px;
    margin-top: 5px;
    font-style: italic;
    font-size: 0.7rem;
    color: rgb(255, 231, 96);

}

li input[type=checkbox] {
    accent-color: #e42259;
}

li input, li button {
    min-width: 25px;
    height: 28px;
    cursor: pointer;
}

li button {
    font-size: 1rem;
    padding: 3px 10px 1px 10px;
    border: rgb(63, 112, 104) solid 1px;
    border-radius: 7px;
    background-color: rgb(229, 239, 247);
    font-weight: 600;
}

button:hover {
    background-color: #005f5fe8;
    border: #005f5fe8 solid 1px;
    transition: 0.7s;
    color: white;
}


